 html {
    font-family: 'Homemade Apple', cursive;
}

body {
    background: url("imgs/blackboard.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.container{
    height: 100%;
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
    grid-template-areas:
    "h h h h h h h h h h h h"
    "a a a a a a p p p p p p"
    "a a a a a a p p p p p p"
    "a a a a a a p p p p p p"
    "a a a a a a p p p p p p"
    "a a a a a a p p p p p p"
    "e e e e e e c c c c c c"
    "e e e e e e c c c c c c"
    "e e e e e e c c c c c c"
    "e e e e e e c c c c c c"
    "e e e e e e c c c c c c"
    "f f f f f f f f f f f f"
}

.header {
    grid-area: h;
}

.about {
    grid-area: a;
    /* opacity: 0; */
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    max-width: 100%;
    height: auto;
    background-size: cover;
}

.about:hover {
    opacity: 1;
}
.about a:hover {
    /* opacity: 0; */
    
}

.projects {
    grid-area: p;
    /* opacity: 0; */
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    max-width: 100%;
    height: auto;
    background-size: cover;
  }

  .projects:hover {
    opacity: 1;
  }
  
  .education {
    grid-area: e;
    max-width: 100%;
    height: auto;
    background-size: cover;
  }

  .education:hover {
      opacity: 1;
  }

  .contact {
    grid-area: c;
    max-width: 100%;
    height: auto;
    background-size: cover;
  }

  .contact:hover {
      opacity: 1;
  }
  
  .social {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .socialMedia-icon {
    margin-top: .625em;
	width: 40px;
	height: 40px;
    opacity: .6;
    border-radius: 25px;
  }

  .socialMedia-icon:hover {
    opacity: 1.0;
  }

  .footer {
    grid-area: f;
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
    bottom: 0px;
    margin-bottom: 0;
    color: white;
    }

  a {
      text-decoration: none;
      color: white;
  }

  a:hover {
      color: grey;
  }

.container > section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
  
  }
  
  html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    margin: 0px;
  }

  .gif {
    opacity: 0;
  }

  /* Css for overlays over sections */
  
  .container > section:nth-child(1n):hover {
    background-image: url("imgs/animatedJoshNoBackground.gif");
    background-position: center center;
    background-size: cover;

  }

  .container > section:nth-child(3n):hover {
    background-image: url("imgs/ProjectGithubDrawn.gif");
    background-position: center center;
    background-size: cover;
  }
  
  .container > section:nth-child(4n):hover {
    background-image: url("imgs/CapDiploma.gif");
    background-position: center center;
    background-size: cover;
  }

  .container > section:nth-child(5n):hover {
    background-image: url("imgs/EmailDrawn.gif");
    background-position: center center;
    background-size: cover;
  }

  /* Dropdown menu

  /* Dropdown Button */
.dropbtn {
  color: white;
  background: none;
  padding: 16px;
  font-size: 16px;
  border: none;
  font-family: 'Homemade Apple', cursive;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {opacity: 0.6}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

