html {
}

body {
    background: url("https://tinyurl.com/yy5ypy8v") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}